<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <% if (typeof message !== 'undefined') { %>
        <% if (message) { %>
            <p><%= message %></p>
        <% } %>
    <% } %>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>